#first-block {
text-align:center;
padding:5.5em 0;
padding-bottom: 0em;
}
footer {
//background:#fff;
padding:0em 0;
border-top-style: #FFFFFF;
border-top-style: outset;
}


/* sticky footer css */
html {
height: 100%;
overflow: hidden;
}
 
body {
height: 100%;
overflow: scroll;
}
 
.with-sticky-footer {
display: table;
height: 100%;
table-layout: fixed;
width: 100%; 
}
 
.sticky-footer {
display: table-row;
height: 1px;
} 


@media screen and (max-width: 800px) {
  .right {
  float:none;
  }
}


.vl{
text-align: center; vertical-align: top;
}

.vl1{
text-align: center; vertical-align: top; 
}

.city {
   float: right;
   //margin-top: -45%;
   //padding-top: 8%;
   //width: 65%;
 color:#FFFFFF;
} 

/*.glow {
  margin: auto;
  width: 147px;
  height: 90px;
  background-color: #1f5afe;
}*/

a:hover { text-shadow: 0 0 5px #FFFFFF; }

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/*--contact--*/
.map{
	margin-bottom:20px;
}
.contatct-form input[type="text"]{
	background: #FFF;
	font-size: 0.85em;
	width:85%;
	border:none;
	outline: none;
	color:#999;
	font-family: 'ambleregular';
	margin-bottom:20px;
	padding: 10px;
	box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	-moz-box-shadow: 0 0 3px #AAA;
	-o-box-shadow: 0 0 3px #AAA;
}
.contatct-form input[type="text"]:hover, .contatct-form textarea:hover{
	box-shadow: 0 0 5px #AAA;
	-webkit-box-shadow: 0 0 5px #AAA;
	-moz-box-shadow: 0 0 5px #AAA;
	-o-box-shadow: 0 0 5px #AAA;
}
.contatct-form textarea {
	background: #FFF;
	font-size: 0.85em;
	width:85%;
	border:none;
	outline: none;
	color: #999;
	padding: 10px;
    box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	-moz-box-shadow: 0 0 3px #AAA;
	-o-box-shadow: 0 0 3px #AAA;
	height: 150px;
	resize: none;
	margin-bottom: 20px;
	font-family: 'ambleregular';
}
.company_address h3 {
	color: #777;
	margin-bottom: 10px;
	font-size: 1.2em;
	line-height: 1.2;
	font-family: 'Aller_Bd';
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.contatct-form input[type="submit"] {
	//color: #FFF;
	font-size:1.1em;
	font-weight: normal;
	padding: 15px 50px;
	//border: none;
	background: #FFFFFF;
	font-family: 'ambleregular';
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	//display: block;
	text-transform:uppercase;
}
.contatct-form input[type="submit"]:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.company_address p{
	padding:0;
}
.company_address p span {
	text-decoration: underline;
	color: #666;
	cursor: pointer;
}
.company_address p span:hover{
	text-decoration:none;
}


/*----------------------------
	Thumbnails
-----------------------------*/

.thumbs{
	//width:480px;
	width:100%;
	margin:30px auto 35px;
	text-align:center;
}

.thumbs a{
	//width:120px;
	//height:120px;
	width:17em;
	height:17em;
	display:inline-block;
	//border:7px solid #303030;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-radius:4px;
	margin: 6px 6px 40px;
	position:relative;
	text-decoration:none;
	
	background-position:center center;
	background-repeat: no-repeat;
	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

/*.thumbs a:after{
	//background-color: #303030;
    //border-radius: 7px;
    bottom: -136px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    content: attr(title);
    display: inline-block;
    font-size: 10px;
    max-width: 90px;
    overflow: hidden;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}*/

#credit{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	font-size: 11px;
	margin: 0 auto 70px;
	opacity: 0.5;
	padding: 12px 16px;
	text-align: center;
	width: 400px;
}


/*----------------------------
	Media Queries
-----------------------------*/


/*@media screen and (max-width: 960px) {
	.thumbs, #credit{
		width:auto;
	}
	
	footer{
		display:none;
	}
	
	#bsaHolder{
		display:none;
	}
}*/


